.clear {
    background-color: var(--transparrent);
    margin: 20px 150px 20px 150px;
    padding: 50px 0px 50px 0px;

    @media (max-width: 768px) {
        border-radius: 0;
        box-shadow: none;
        margin: 20px 0px 20px 0px;
        padding: 20px;
    }
}

.solid {
    background-color: var(--white);
    border-radius: var(--corners-large);
    box-shadow: var(--shadow-1);
    margin: 20px 150px 20px 150px;
    padding: 50px 30px 50px 30px;

    @media (max-width: 768px) {
        border-radius: 0;
        box-shadow: none;
        margin: 20px 0px 20px 0px;
        padding: 20px;
    }
}

.top {
    @media (max-width: 768px) {
        margin-top: 0px;
    }
}

.dense {
    padding: 0px;

    @media (max-width: 768px) {
        padding: 20px 0px 20px 0px;
    }
}

.outline {
    border: 1px solid var(--darker-grey);
}

.noShadow {
    box-shadow: none;
}

.align {
    &Inherit {
        text-align: inherit;
    }

    &Left {
        text-align: left;
    }

    &Center {
        text-align: center;
    }

    &Right {
        text-align: right;
    }

    &Justify {
        text-align: justify;
    }
}
