.clear {
    background-color: var(--transparrent);
    margin: 20px 0px 20px 0px;
    padding: 50px 75px 50px 75px;

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.solid {
    background-color: var(--white);
    margin: 20px 0px 20px 0px;
    padding: 50px 75px 50px 75px;

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.top {
    margin-top: 0px;
}

.outline {
    border: 1px solid var(--darker-grey);
}

.margins {
    margin-left: 75px;
    margin-right: 75px;
    border-radius: var(--corners-large);
}

.align {
    &Inherit {
        text-align: inherit;
    }

    &Left {
        text-align: left;
    }

    &Center {
        text-align: center;
    }

    &Right {
        text-align: right;
    }

    &Justify {
        text-align: justify;
    }
}
