/* Computer Modern Serif */

@font-face {
    font-family: CMU-Serif;
    src: url(./fonts/cmu/cmu-serif.ttf);
}

@font-face {
    font-family: CMU-Bold;
    src: url(./fonts/cmu/cmu-bold.ttf);
}

@font-face {
    font-family: CMU-Italic;
    src: url(./fonts/cmu/cmu-italic.ttf);
}

@font-face {
    font-family: CMU-Bold-Italic;
    src: url(./fonts/cmu/cmu-bold-italic.ttf);
}

/* Open Sans Sans-Serif */

@font-face {
    font-family: Sans-Light;
    src: url(./fonts/open-sans/open-sans-light.ttf);
}

@font-face {
    font-family: Sans-Regular;
    src: url(./fonts/open-sans/open-sans-regular.ttf);
}

@font-face {
    font-family: Sans-Bold;
    src: url(./fonts/open-sans/open-sans-medium.ttf);
}

@font-face {
    font-family: Sans-Italic-Light;
    src: url(./fonts/open-sans/open-sans-light-italic.ttf);
}

@font-face {
    font-family: Sans-Italic;
    src: url(./fonts/open-sans/open-sans-italic.ttf);
}

@font-face {
    font-family: Sans-Bold-Italic;
    src: url(./fonts/open-sans/open-sans-semi-bold-italic.ttf);
}

/* Audi Sans-Serif */

@font-face {
    font-family: Audi-Regular;
    src: url(./fonts/audi/audi-normal.ttf);
}

@font-face {
    font-family: Audi-Bold;
    src: url(./fonts/audi/audi-bold.ttf);
}

@font-face {
    font-family: Audi-Italic;
    src: url(./fonts/audi/audi-italic.ttf);
}

@font-face {
    font-family: Audi-Extended;
    src: url(./fonts/audi/audi-extended-bold.ttf);
}

/* Other */

@font-face {
    font-family: Instagram;
    src: url(./fonts/grandista/grandista.ttf);
}

@font-face {
    font-family: NFS;
    src: url(./fonts/nfs/nfs.ttf);
}

@font-face {
    font-family: IBM;
    src: url(./fonts/ibm/ibm.ttf);
}

@font-face {
    font-family: Broadway;
    src: url(./fonts/broadway/broadway-regular.ttf);
}

/* Colors */

:root {
    --black: #000000;
    --darker-grey: #282828;
    --darker-grey-90: #28282890;
    --darker-grey-70: #28282870;
    --darker-grey-50: #28282850;
    --darker-grey-30: #28282830;
    --darker-grey-10: #28282810;
    --dark-grey: #303030;
    --medium-grey: #585858;
    --light-grey: #a2a2a2;
    --lighter-grey: #f5f5f5;
    --light-blue: #96b9ee;
    --pale-blue: #f5fbff;
    --white: #ffffff;
    --transparent: #ffffff00;
}

/* Standards */

:root {
    --shadow-1: 0px 0px 10px var(--light-grey);
    --corners-large: 0.25em;
    --corners-small: 0.125em;
    --transition-short: 0.25s;
    --transition-long: 0.5s;
}

/* Body */

body {
    margin: 0;
    background-color: var(--lighter-grey);
}

/* Code */

code {
    font-family: 'Courier New', Courier, monospace;
}

/* Unordered Lists */

ul {
    padding: 0px;
}

/* TO BE REMOVED */

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.currLoc {
    position: relative;
    display: inline-block;
}

.currLoc .currLocHover {
    visibility: hidden;
    width: 240px;
    background-image: var(--header-footer);
    color: #fff;
    text-align: center;
    padding: 0;
    position: absolute;
    /* z-index: 1; */
}

.currLoc:hover .currLocHover {
    visibility: visible;
}

#searchRoute {
    height: 100%;
    float: right;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
}
