@use '../../reference' as reference;

.footer {
    background-color: reference.$darker-grey;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    color: reference.$light-grey;

    &Logo {
        font-family: IBM;
        font-size: 22px;
        line-height: -2px;
        height: 22px;
    }
}
