@use '../../reference' as reference;

.footer {
    background-color: reference.$darker-grey;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    color: reference.$light-grey;

    &Logo {
        font-family: Audi-Light;
        font-size: 24px;
        // line-height: -2px;
        // height: 22px;
    }
}
