button.expand-regular,
button.expand-dense {
    background: #ffffff00;
    border: none;
    border-radius: 0.25em;
    transition: background-color 0.5s;
    padding: 5px;
}

button.expand-regular {
    width: 100%;
}

button.expand-dense {
    width: 25%;
}

button.expand-regular:hover,
button.expand-dense:hover {
    background-color: #f5f5f5;
    transition: background-color 0.5s;
}
