@use '../../reference' as reference;

.tile {
    margin-bottom: 48px;

    &Clear {
        background-color: reference.$transparent;
    }

    &Solid {
        background-color: reference.$white;
    }

    &NoGap {
        margin-top: 0px;
    }

    &Gap {
        margin-top: 48px;
    }
}

.constrain {
    max-width: 1440px;
    margin: auto;
    border-radius: reference.$corners-medium;
}

.marginsX {
    padding-left: 76px;
    padding-right: 76px;

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.marginsY {
    &Regular {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    &Dense {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.stacked {
    display: grid;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.text {
    z-index: 1000;
    position: absolute;
}
