.tile-clear {
    background-color: #FFFFFF00;
    margin: 20px 150px 20px 150px;
    padding: 50px 0px 50px 0px;
}

.tile-clear-condensed {
    background-color: #FFFFFF00;
    margin: 20px 150px 20px 150px;
    padding: 10px 0px 10px 0px;
}

.tile-solid {
    background-color: #FFFFFF;
    border-radius: 0.75em;
    box-shadow: 0px 0px 10px #D8D8D8;
    margin: 20px 150px 20px 150px;
    padding: 50px 30px 50px 30px;
}

@media (max-width: 768px) {
    .tile {
        margin: 20px;
        padding: 20px;
    }
}