.tile-clear {
    background-color: #ffffff00;
    margin: 20px 150px 20px 150px;
    padding: 50px 0px 50px 0px;
}

.tile-clear-condensed {
    background-color: #ffffff00;
    margin: 20px 150px 20px 150px;
    padding: 10px 0px 10px 0px;
}

.tile-solid {
    background-color: #ffffff;
    border-radius: 0.25em;
    box-shadow: 0px 0px 10px #d8d8d8;
    margin: 20px 150px 20px 150px;
    padding: 50px 30px 50px 30px;
}

.tile-dense {
    padding: 0px;
}

/* Mobile */

@media (max-width: 768px) {
    .tile-clear,
    .tile-clear-condensed,
    .tile-solid {
        border-radius: 0em;
        box-shadow: none;
        margin: 20px 0px 20px 0px;
        padding: 20px;
    }

    .tile-top {
        margin-top: 0px;
    }

    .tile-dense {
        padding: 20px 0px 20px 0px;
    }
}
