/* Serif Classes */

.t1-serif {
    font-family: CMU-Bold;
    font-size: 64px;
    color: #282828;
    padding: 0px;
}

.t2-serif {
    font-family: CMU-Serif;
    font-size: 64px;
    color: #282828;
    padding: 0px;
}

.h1-serif {
    font-family: CMU-Bold;
    font-size: 52px;
    color: #282828;
    padding: 0px;
}

.h2-serif {
    font-family: CMU-Bold;
    font-size: 40px;
    color: #282828;
    padding: 0px;
}

.h3-serif {
    font-family: CMU-Bold;
    font-size: 28px;
    color: #282828;
    padding: 0px;
}

.h4-serif {
    font-family: CMU-Serif;
    font-size: 20px;
    color: #282828;
    padding: 0px;
}

.body-serif {
    font-family: CMU-Serif;
    font-size: 16px;
    color: #282828;
    padding: 0px;
}

.caption-serif {
    font-family: CMU-Bold;
    font-size: 16px;
    color: #282828;
    padding: 0px;
}

.footnote-serif {
    font-family: CMU-Serif;
    font-size: 14px;
    color: #282828;
    padding: 0px;
}

/* Sans-Serif Classes */

.t1-sans-serif {
    font-family: Sans-Bold;
    font-size: 64px;
    color: #282828;
    padding: 0px;
}

.t2-sans-serif {
    font-family: Sans-Bold;
    font-size: 64px;
    color: #282828;
    padding: 0px;
}

.h1-sans-serif {
    font-family: Sans-Bold;
    font-size: 52px;
    color: #282828;
    padding: 0px;
}

.h2-sans-serif {
    font-family: Sans-Bold;
    font-size: 40px;
    color: #282828;
    padding: 0px;
}

.h3-sans-serif {
    font-family: Sans-Bold;
    font-size: 28px;
    color: #282828;
    padding: 0px;
}

.h4-sans-serif {
    font-family: Sans-Regular;
    font-size: 20px;
    color: #282828;
    padding: 0px;
}

.body-sans-serif {
    font-family: Sans-Regular;
    font-size: 16px;
    color: #282828;
    padding: 0px;
}

.body-light-sans-serif {
    font-family: Sans-Light;
    font-size: 16px;
    color: #282828;
    padding: 0px;
}

.caption-sans-serif {
    font-family: Sans-Bold;
    font-size: 16px;
    color: #282828;
    padding: 0px;
}

.footnote-sans-serif {
    font-family: Sans-Regular;
    font-size: 14px;
    color: #282828;
    padding: 0px;
}

/* Bold Classes */

.bold-serif {
    font-family: CMU-Bold;
}

.bold-sans-serif {
    font-family: Sans-Bold;
    letter-spacing: 0.25px;
}

/* Italic Classes */

.italic-serif {
    font-family: CMU-Italic;
}

.italic-sans-serif {
    font-family: Sans-Italic;
}

/* Links */

a {
    color: var(--font-1);
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: var(--font-3);
    transition: color 0.5s;
    cursor: pointer;
}

/* Mobile */

@media (max-width: 768px) {
    .t1-serif,
    .t1-sans-serif,
    .t2-serif,
    .t2-sans-serif {
        font-size: 36px;
    }

    .h1-serif,
    .h1-sans-serif {
        font-size: 30px;
    }

    .h2-serif,
    .h2-sans-serif {
        font-size: 24px;
    }

    .h3-serif,
    .h3-sans-serif {
        font-size: 22px;
    }

    .h4-serif,
    .h4-sans-serif {
        font-size: 20px;
    }

    .body-serif,
    .body-sans-serif,
    .body-light-sans-serif {
        font-size: 14px;
    }

    .caption-serif,
    .caption-sans-serif {
        font-size: 14px;
    }

    .footnote-serif,
    .footnote-sans-serif {
        font-size: 12px;
    }
}
