.background {
    text-align: left;

    @media (min-width: 768px) {
        background-image: url('../../../media/images/pages/background.jpg');
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100%;
        overflow: hidden;
        padding: 175px 75px 25px 75px;
    }

    @media (max-width: 768px) {
        background-image: url('../../../media/images/pages/background-mobile.jpg');
        background-size: 100% auto;
        padding: 50px 20px 5px 20px;
    }
}

.backgroundText {
    font-size: 64px;
    color: var(--lighter-grey);
    text-shadow: 0px 0px 20px var(--medium-grey);
    padding: 0px 25px 0px 0px;

    @media (max-width: 768px) {
        font-size: 32px;
        padding: 0;
    }

    &Std {
        font-family: Sans-Light;
    }

    &Logo {
        font-family: IBM;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    &Ig {
        font-family: Instagram;
        /* background: -webkit-linear-gradient(
            0deg,
            #a13cc2 -50%,
            #9f1b7f 25%,
            #ff971d 100%
        ); */
        /* background: -webkit-linear-gradient(
            0deg,
            #282828 0%,
            var(--light-grey) 200%
        ); */
        /* background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
    }

    &Sport {
        font-family: NFS;
    }

    &Audi {
        font-family: Audi-Regular;
    }

    &Miami {
        font-family: Broadway;
    }
}
