@use '../../reference' as reference;

img {
    vertical-align: bottom;
}

.image {
    max-width: 100%;
}

.imageSlider {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;

    @media (max-width: 768px) {
        height: 300px;
        overflow-x: hidden;
    }
}

.imageSliderSlide {
    text-align: center;
    opacity: 0.75;
    transition-duration: 2s ease;

    &Active {
        opacity: 1;
        transition-duration: 2s;
    }
}

.imageSliderImage {
    width: 100%;
}

.imageSliderCaption {
    position: absolute;
    z-index: 10;
    text-shadow: 0px 0px 5px reference.$darker-grey;
    bottom: 24px;
    left: 24px;
    max-width: 75%;
    opacity: 0.75;

    @media (max-width: 768px) {
        bottom: 16px;
        left: 12px;
    }
}

.imageSliderIndex {
    position: absolute;
    z-index: 10;
    text-shadow: 0px 0px 5px reference.$darker-grey;
    bottom: 24px;
    right: 24px;
    max-width: 25%;
    opacity: 0.75;

    @media (max-width: 768px) {
        bottom: 16px;
        right: 12px;
    }
}

.leftArrow,
.rightArrow,
.refresh {
    color: reference.$darker-grey-60;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: color reference.$transition-long;
}

.leftArrow {
    font-size: 32px;
    top: 48%;
    left: 24px;

    @media (max-width: 768px) {
        font-size: 24px;
        color: reference.$darker-grey-60;
        top: 45%;
        left: 12px;
    }
}

.rightArrow {
    font-size: 32px;
    top: 48%;
    right: 24px;

    @media (max-width: 768px) {
        font-size: 24px;
        color: reference.$darker-grey-60;
        top: 45%;
        right: 12px;
    }
}

.refresh {
    font-size: 22px;
    top: 24px;
    right: 24px;

    @media (max-width: 768px) {
        font-size: 16px;
        top: 16px;
        right: 12px;
        color: reference.$darker-grey-60;
    }
}

.leftArrow:hover,
.rightArrow:hover,
.refresh:hover {
    color: reference.$light-grey;
    transition: color reference.$transition-long;
}

.leftArrow:active,
.rightArrow:active,
.refresh:active {
    transform: scale(0.99);
    transition: transform reference.$transition-short;
}
