.background {
    background-image: url('../../../media/images/pages/background.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    margin: 0;
    padding: 175px 150px 25px 150px;
}

.background-text {
    font-size: 64px;
    color: var(--lighter-grey);
    margin: 0;
    padding: 0px 25px 0px 0px;
}

.background-text-logo {
    font-family: IBM;
}

.background-text-standard {
    font-family: Sans-Light;
}

.background-text-instant-gram {
    font-family: Instagram;
    /* background: -webkit-linear-gradient(
        0deg,
        #a13cc2 -50%,
        #9f1b7f 25%,
        #ff971d 100%
    ); */
    /* background: -webkit-linear-gradient(
        0deg,
        #282828 0%,
        var(--light-grey) 200%
    ); */
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.background-text-sport {
    font-family: NFS;
}

/* Mobile */

@media (max-width: 768px) {
    .background {
        background-image: none;
        padding: 35px 20px 5px 20px;
    }

    .background-text {
        color: var(--font1);
        font-size: 32px;
        padding: 0;
    }
}
