@use '../../reference' as reference;

input[type='text'] {
    &.search {
        font-family: Sans-Regular;
        font-size: 16px;
        color: reference.$medium-grey;
        background-color: reference.$miami-coral-20;
        width: 99%;
        border: none;
        border-radius: reference.$corners-small;
        padding: 15px 5px 15px 5px;

        @media (max-width: 768px) {
            font-size: 12px;
            padding: 5px;
        }
    }
}

select {
    &.search {
        font-family: Sans-Regular;
        font-size: 16px;
        color: reference.$medium-grey;
        background-color: reference.$miami-coral-20;
        width: 100%;
        border: none;
        border-radius: reference.$corners-small;
        cursor: pointer;
        padding: 5px;
    }
}
