@use '../../reference' as reference;

input[type='text'] {
    &.search {
        font-family: Sans-Regular;
        font-size: 16px;
        color: reference.$medium-grey;
        background-color: reference.$lighter-grey;
        width: 83.75%;
        border: none;
        border-radius: reference.$corners-small;
        padding: 5px;

        @media (max-width: 768px) {
            font-size: 12px;
            width: 76%;
        }
    }
}

select {
    &.search {
        font-family: Sans-Regular;
        font-size: 16px;
        color: reference.$medium-grey;
        background-color: reference.$lighter-grey;
        width: 50%;
        border: none;
        border-radius: reference.$corners-small;
        padding: 5px;
    }
}
