body {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  color: #7fffd4;
  background-color: #1b1b1b;
  margin: 50px 500px 50px 500px;
}

a {
  color: #7fffd4;
  /* text-decoration: dotted; */
}
