@use '../../reference' as reference;

// Image

.image {
    &Container {
        text-align: center;
        padding: 0;
    }

    &Desktop {
        max-width: 500px;
    }

    &Mobile {
        max-width: 250px;
    }
}

// Serif

.serif {
    padding: 0;

    &T1 {
        font-family: CMU-Bold;
        font-size: 52px;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    &T2 {
        font-family: CMU-Serif;
        font-size: 52px;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    &H1 {
        font-family: CMU-Bold;
        font-size: 46px;

        @media (max-width: 768px) {
            font-size: 22px;
        }
    }

    &H2 {
        font-family: CMU-Bold;
        font-size: 32px;

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    &H3 {
        font-family: CMU-Bold;
        font-size: 24px;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &H4 {
        font-family: CMU-Serif;
        font-size: 24px;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &Body {
        font-family: CMU-Serif;
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &Caption {
        font-family: CMU-Bold;
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &Footnote {
        font-family: CMU-Serif;
        font-size: 14px;

        @media (max-width: 768px) {
            font-size: 10px;
        }
    }

    &Tiny {
        font-family: CMU-Serif;
        font-size: 10px;

        @media (max-width: 768px) {
            font-size: 8px;
        }
    }

    &Bold {
        font-family: CMU-Bold;
    }

    &Italic {
        font-family: CMU-Italic;
    }

    &BoldItalic {
        font-family: CMU-Bold-Italic;
    }
}

// Sans-Serif

$sans-regular: Audi-Light;
$sans-light: Audi-Light;
$sans-bold: Audi-Regular;
$sans-italic: Audi-Italic;
$sans-bold-italic: Audi-Bold-Italic;

.sansSerif {
    padding: 0;

    &T1 {
        font-family: $sans-bold;
        font-size: 52px;

        @media (max-width: 768px) {
            font-size: 24px;
        }

        &Light {
            font-family: $sans-light;
            font-size: 52px;

            @media (max-width: 768px) {
                font-size: 24px;
            }
        }
    }

    &T2 {
        font-family: $sans-regular;
        font-size: 52px;

        @media (max-width: 768px) {
            font-size: 24px;
        }

        &Light {
            font-family: $sans-light;
            font-size: 52px;

            @media (max-width: 768px) {
                font-size: 24px;
            }
        }
    }

    &H1 {
        font-family: $sans-bold;
        font-size: 46px;

        @media (max-width: 768px) {
            font-size: 22px;
        }

        &Light {
            font-family: $sans-light;
            font-size: 46px;

            @media (max-width: 768px) {
                font-size: 22px;
            }
        }
    }

    &H2 {
        font-family: $sans-bold;
        font-size: 32px;

        @media (max-width: 768px) {
            font-size: 20px;
        }

        &Light {
            font-family: $sans-light;
            font-size: 32px;

            @media (max-width: 768px) {
                font-size: 20px;
            }
        }
    }

    &H3 {
        font-family: $sans-bold;
        font-size: 24px;

        @media (max-width: 768px) {
            font-size: 16px;
        }

        &Light {
            font-family: $sans-light;
            font-size: 24px;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }

    &H4 {
        font-family: $sans-regular;
        font-size: 24px;

        @media (max-width: 768px) {
            font-size: 16px;
        }

        &Light {
            font-family: $sans-light;
            font-size: 24px;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }

    &Body {
        font-family: $sans-regular;
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 12px;
        }

        &Light {
            font-family: $sans-light;
            font-size: 16px;

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }

    &Caption {
        font-family: $sans-bold;
        font-size: 16px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    &Footnote {
        font-family: $sans-regular;
        font-size: 14px;

        @media (max-width: 768px) {
            font-size: 10px;
        }

        &Light {
            font-family: $sans-light;
            font-size: 14px;

            @media (max-width: 768px) {
                font-size: 10px;
            }
        }
    }

    &Tiny {
        font-family: $sans-regular;
        font-size: 10px;

        @media (max-width: 768px) {
            font-size: 8px;
        }

        &Light {
            font-family: $sans-light;
            font-size: 10px;

            @media (max-width: 768px) {
                font-size: 8px;
            }
        }
    }

    &Bold {
        font-family: $sans-bold;
        letter-spacing: 0.25px;
    }

    &Italic {
        font-family: $sans-italic;
    }

    &BoldItalic {
        font-family: $sans-bold-italic;
    }
}

// Small-Caps

.smallCaps {
    font-variant: small-caps;
}

// Text Decoration

.textDecoration {
    &None {
        text-decoration-line: none;
    }

    &Overline {
        text-decoration-line: overline;
    }

    &Underline {
        text-decoration-line: underline;
    }

    &LineThrough {
        text-decoration-line: line-through;
    }
}

// Links

a {
    color: reference.$darker-grey;
    text-decoration: none;
    transition: color reference.$transition-long;
}

a:hover {
    color: reference.$light-blue;
    transition: color reference.$transition-long;
    cursor: pointer;
}

// Align

.align {
    &Inherit {
        text-align: inherit;
    }

    &Left {
        text-align: left;
    }

    &Center {
        text-align: center;
    }

    &Right {
        text-align: right;
    }

    &Justify {
        text-align: justify;
    }
}

// Inline

.inline {
    display: inline;
}

// Color

.color {
    &Black {
        color: reference.$black;
    }

    &DarkerGrey {
        color: reference.$darker-grey;
    }

    &DarkGrey {
        color: reference.$dark-grey;
    }

    &MediumGrey {
        color: reference.$medium-grey;
    }

    &LightGrey {
        color: reference.$light-grey;
    }

    &LighterGrey {
        color: reference.$lighter-grey;
    }

    &LightBlue {
        color: reference.$light-blue;
    }

    &White {
        color: reference.$white;
    }

    &Transparent {
        color: reference.$transparent;
    }
}

// Paragraph Margins

.paragraphMargins {
    &Desktop {
        margin-bottom: 30px;
    }

    &Mobile {
        margin-bottom: 15px;
    }
}

// Shadow

.shadow {
    text-shadow: 0px 0px 5px reference.$darker-grey;
}
