@use 'opacity' as opacity;

// Black

$black: #000000;

// Grey

$darkerGrey: #282828;
$darkerGrey90: #28282890;
$darkerGrey50: #28282850;

$darkGrey: #303030;
$mediumGrey: #585858;
$lightGrey: #a2a2a2;
$lighterGrey: #f5f5f5;

// Blue

$lightBlue: #96b9ee;

// White

$white: #ffffff;

// Transparent

$transparent: #ffffff00;
