@use 'opacity' as opacity;

// Black

$black: #000000;
$black-60: rgba($black, opacity.$opacity60);
$black-40: rgba($black, opacity.$opacity40);
$black-20: rgba($black, opacity.$opacity20);

// Grey

$darker-grey: #282828;
$darker-grey-90: #28282890;
$darker-grey-50: #28282850;

$dark-grey: #303030;

$medium-grey: #585858;

$light-grey: #a2a2a2;

$lighter-grey: #f5f5f5;

// Blue

$lightBlue: #96b9ee;

// White

$white: #ffffff;

// Transparent

$transparent: #ffffff00;
