$black: #000000;
$darkerGrey: #282828;
$darkerGrey90: #28282890;
$darkerGrey50: #28282850;
$darkGrey: #303030;
$mediumGrey: #585858;
$lightGrey: #a2a2a2;
$lighterGrey: #f5f5f5;
$lightBlue: #96b9ee;
$white: #ffffff;
$transparent: #ffffff00;
