@use '../../reference' as reference;

.header {
    background-color: reference.$darker-grey;
    display: grid;
    align-items: center;
    color: reference.$light-grey;

    &Sub {
        background-color: reference.$dark-grey;
        display: grid;
        align-items: center;
    }

    &Navigation {
        font-family: Sans-Light;
        color: reference.$light-grey;

        a {
            text-decoration: none;
            color: reference.$light-grey;
            transition: color reference.$transition-long;
        }

        a:hover {
            color: reference.$light-blue;
            transition: color reference.$transition-long;
            cursor: pointer;
        }
    }

    &Logo {
        font-family: IBM;
        font-size: 22px;
        line-height: -2px;
        height: 22px;
    }
}
