/* Search Tile */

.instant-gram-search-component {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

input[type='text'].instant-gram-search,
button.instant-gram-search {
    font-family: Audi-Regular;
    font-size: 20px;
    border: none;
    margin: 0;
    padding: 5px;
}

input[type='text'].instant-gram-search {
    background-color: #f5f5f5;
    border-top-left-radius: 0.125em;
    border-bottom-left-radius: 0.125em;
    width: 60%;
}

button.instant-gram-search {
    background-color: #282828;
    border-top-right-radius: 0.125em;
    border-bottom-right-radius: 0.125em;
    width: 15%;
}

/* Result Tile */

.instant-gram-tile-title {
    text-align: center;
    margin: 7.5px 70px 7.5px 70px;
    /* border: 1px solid black; */
}

.instant-gram-tile-sport {
    background-color: #f5f5f5;
    border-radius: 0.25em;
    margin: 15px 70px 5px 70px;
    padding: 10px 150px 10px 150px;
    /* border: 1px solid black; */
}

.instant-gram-tile-sport-element {
    margin: 10px 0px 0px 0px;
    /* border: 1px solid black; */
}

.instant-gram-tile-sport-sub-element.left {
    text-align: left;
    position: absolute;
    /* border: 1px solid black; */
}

.instant-gram-tile-sport-sub-element.right {
    text-align: right;
    position: relative;
    margin-left: 25%;
    /* border: 1px solid black; */
}

.instant-gram-tile-body,
.instant-gram-tile-image-slider {
    margin: 15px 70px 15px 70px;
    /* border: 1px solid black; */
}

.instant-gram-tile-image-slider {
    background-color: #f5f5f5;
    border-radius: 0.25em;
    /* border: 1px solid black; */
}

/* Mobile */

@media (max-width: 768px) {
    input[type='text'].instant-gram-search {
        width: 80%;
    }

    button.instant-gram-search {
        width: 10%;
    }

    .instant-gram-tile-title,
    .instant-gram-tile-body {
        margin: 7.5px 20px 7.5px 20px;
    }

    .instant-gram-tile-sport {
        border-radius: 0em;
        margin: 15px 0px 15px 0px;
        padding: 10px;
    }

    .instant-gram-tile-image-slider {
        margin: 15px 0px 15px 0px;
        background-color: #ffffff;
    }
}
