@use 'colors' as colors;

// Solid-to-Transparent

// Dark 20
$gradient-dark-20-left-right: linear-gradient(
    90deg,
    colors.$darker-grey-60 48%,
    colors.$transparent 70%
);
$gradient-dark-20-right-left: linear-gradient(
    270deg,
    colors.$color-neutral0-opacity20 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-dark-20-top-bottom: linear-gradient(
    180deg,
    colors.$color-neutral0-opacity20 46%,
    colors.$color-neutral0-opacity0 64%
);
$gradient-dark-20-bottom-top: linear-gradient(
    0deg,
    colors.$color-neutral0-opacity20 46%,
    colors.$color-neutral0-opacity0 64%
);

// Dark 40
$gradient-dark-40-left-right: linear-gradient(
    90deg,
    colors.$color-neutral0-opacity40 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-dark-40-right-left: linear-gradient(
    270deg,
    colors.$color-neutral0-opacity40 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-dark-40-top-bottom: linear-gradient(
    180deg,
    colors.$color-neutral0-opacity40 46%,
    colors.$color-neutral0-opacity0 64%
);
$gradient-dark-40-bottom-top: linear-gradient(
    0deg,
    colors.$color-neutral0-opacity40 46%,
    colors.$color-neutral0-opacity0 64%
);

// Dark 60
$gradient-dark-60-left-right: linear-gradient(
    90deg,
    colors.$color-neutral0-opacity60 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-dark-60-right-left: linear-gradient(
    270deg,
    colors.$color-neutral0-opacity60 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-dark-60-top-bottom: linear-gradient(
    180deg,
    colors.$color-neutral0-opacity60 46%,
    colors.$color-neutral0-opacity0 64%
);
$gradient-dark-60-bottom-top: linear-gradient(
    0deg,
    colors.$color-neutral0-opacity60 46%,
    colors.$color-neutral0-opacity0 64%
);

// Light 20
$gradient-light-20-left-right: linear-gradient(
    90deg,
    colors.$color-neutral100-opacity20 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-light-20-right-left: linear-gradient(
    270deg,
    colors.$color-neutral100-opacity20 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-light-20-top-bottom: linear-gradient(
    180deg,
    colors.$color-neutral100-opacity20 46%,
    colors.$color-neutral0-opacity0 64%
);
$gradient-light-20-bottom-top: linear-gradient(
    0deg,
    colors.$color-neutral100-opacity20 46%,
    colors.$color-neutral0-opacity0 64%
);

// Light 40
$gradient-light-40-left-right: linear-gradient(
    90deg,
    colors.$color-neutral100-opacity40 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-light-40-right-left: linear-gradient(
    270deg,
    colors.$color-neutral100-opacity40 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-light-40-top-bottom: linear-gradient(
    180deg,
    colors.$color-neutral100-opacity40 46%,
    colors.$color-neutral0-opacity0 64%
);
$gradient-light-40-bottom-top: linear-gradient(
    0deg,
    colors.$color-neutral100-opacity40 46%,
    colors.$color-neutral0-opacity0 64%
);

// Light 60
$gradient-light-60-left-right: linear-gradient(
    90deg,
    colors.$color-neutral100-opacity60 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-light-60-right-left: linear-gradient(
    270deg,
    colors.$color-neutral100-opacity60 48%,
    colors.$color-neutral0-opacity0 70%
);
$gradient-light-60-top-bottom: linear-gradient(
    180deg,
    colors.$color-neutral100-opacity60 46%,
    colors.$color-neutral0-opacity0 64%
);
$gradient-light-60-bottom-top: linear-gradient(
    0deg,
    colors.$color-neutral100-opacity60 46%,
    colors.$color-neutral0-opacity0 64%
);
