.image-slider {
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    max-height: 600px;
    border-radius: 0.25em;
    box-shadow: 0px 0px 10px #A8A8A8;
}

.right-arrow {
    position: absolute;
    top: 47.5%;
    right: 0px;
    font-size: 48px;
    color: #282828;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 47.5%;
    left: 0px;
    font-size: 48px;
    color: #282828;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow:active,
.right-arrow:active {
    transform: scale(0.95);
}

.slide {
    opacity: 0.5;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.05);
}