input[type='text'] {
    &.search {
        font-family: Sans-Regular;
        font-size: 16px;
        color: var(--medium-grey);
        background-color: var(--lighter-grey);
        width: 83.75%;
        border: none;
        border-radius: var(--corners-small);
        padding: 5px;

        @media (max-width: 768px) {
            font-size: 12px;
            width: 76%;
        }
    }
}

select {
    &.search {
        font-family: Sans-Regular;
        font-size: 16px;
        color: var(--medium-grey);
        background-color: var(--lighter-grey);
        width: 50%;
        border: none;
        border-radius: var(--corners-small);
        padding: 5px;
    }
}
