input[type='text'].search,
select.search {
    font-family: Sans-Regular;
    font-size: 16px;
    color: var(--medium-grey);
    background-color: var(--lighter-grey);
    border: none;
    border-radius: var(--corners-small);
    padding: 5px;
}

input[type='text'].search {
    width: 83.75%;
}

select.search {
    width: 50%;
}

@media (max-width: 768px) {
    input[type='text'].search {
        font-size: 12px;
        width: 76%;
    }
}
