@use '../../reference/' as reference;

.modal {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 700px;
    overflow: hidden;

    &Solid {
        background-color: reference.$lighter-grey;
        padding: 24px;
    }
}

.overlay {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: reference.$darker-grey-60;
}

.close {
    &Container {
        display: flex;
        justify-content: right;
    }

    &Icon {
        font-size: 24px;
        color: reference.$darker-grey;
        cursor: pointer;
        user-select: none;
        transition: color reference.$transition-long;

        &:hover {
            color: reference.$light-blue;
            transition: color reference.$transition-long;
        }

        &:active {
            transform: scale(0.99);
            transition: transform reference.$transition-short;
        }

        @media (max-width: 768px) {
            padding-right: 12px;
        }
    }
}
