/* Fonts */

@font-face {
    font-family: CMU-Serif;
    src: url(../fonts/CMUSerif.ttf);
}

@font-face {
    font-family: CMU-Bold;
    src: url(../fonts/CMUBold.ttf);
}

@font-face {
    font-family: CMU-Italic;
    src: url(../fonts/CMUItalic.ttf);
}

@font-face {
    font-family: Sans-Light;
    src: url(../fonts/open-sans/static/OpenSans-Light.ttf);
}

@font-face {
    font-family: Sans-Regular;
    src: url(../fonts/open-sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Sans-Bold;
    src: url(../fonts/open-sans/static/OpenSans-Medium.ttf);
}

@font-face {
    font-family: Sans-Italic;
    src: url(../fonts/open-sans/static/OpenSans-Italic.ttf);
}

@font-face {
    font-family: Sans-Light-Italic;
    src: url(../fonts/open-sans/static/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: Audi-Regular;
    src: url(../fonts/audi/Normal.ttf);
}

@font-face {
    font-family: Audi-Bold;
    src: url(../fonts/audi/Bold.ttf);
}

@font-face {
    font-family: Audi-Italic;
    src: url(../fonts/audi/Italic.ttf);
}

@font-face {
    font-family: Audi-Extended;
    src: url(../fonts/audi/Extended-Bold.ttf);
}

@font-face {
    font-family: Instagram;
    src: url(../fonts/Grandista.ttf);
}

@font-face {
    font-family: NFS;
    src: url(../fonts/NFS.ttf);
}

/* Colors */

:root {
    --background: #f5f5f5;
    --foreground: #ffffff;
    --shadow-1: 0px 0px 10px #d8d8d8;
    --transparrent: #ffffff00;
    --font-1: #282828;
    --font-2: #303030;
    --font-3: #96b9ee;
    --font-4: #a2a2a2;
    --font-5: #585858;
}

/* Standards */

:root {
    --corners-large: 0.25em;
    --corners-small: 0.125em;
    --link-transition: 0.25s;
    --dark-transition: 0.5s;
}

/* Body */

body {
    margin: 0;
    background-color: var(--background);
}

/* To Be Removed */

h1.weatherIcon {
    font-size: 50px;
    margin: 0.25em;
    padding: 0;
}

h1.weatherTitle {
    font-family: Audi-Extended;
    font-variant: small-caps;
    color: #a2a2a2;
    margin: 0;
    padding: 0;
}

h4.weatherTitleCoords {
    color: #a2a2a2;
    margin: 0;
    padding: 0;
}

label {
    font-family: Audi-Regular;
    padding: 0.25em;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

.weatherTitleCont {
    color: var(--fg);
    background-image: var(--header-footer);
    width: calc(100% - 0.5em);
    margin: 2.75em 0 1.25em 0;
    padding: 1.25em 0 1.75em 0;
}

.weatherResults {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.125em 0 0.125em;
}

.weatherResults > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.weatherCol {
    font-family: Audi-Regular;
    text-align: left;
    background-color: var(--bg);
    /* border-left: 1px solid rgba(149, 165, 166, 0.75);
  border-right: 1px solid rgba(149, 165, 166, 0.75); */
    margin: 0.5em 0.125em 0.5em 0.125em;
    padding: 0.5em 0 0.5em 0;
}

@media (min-width: 768px) {
    .weatherCol {
        flex: 2 0;
    }
}

.weatherIntro,
.weatherTemp,
.weatherWind,
.weatherAtmosphere,
.weatherSuntime {
    text-align: center;
    background-color: var(--fg);
    margin: 0.75em 0 0.75em 0;
    padding: 0.5em;
}

.weatherComponent {
    text-align: center;
    margin: 0.125em;
    padding: 0.25em;
}

.flexRow {
    display: flex;
    flex-wrap: wrap;
}

.flexRow > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.flexCol {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
}

.flexCol.left {
    margin-right: 0.25em;
}

.flexCol.right {
    margin-left: 0.5em;
}

@media (min-width: 768px) {
    .flexCol {
        flex: 2 0;
    }
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.currLoc {
    position: relative;
    display: inline-block;
}

.currLoc .currLocHover {
    visibility: hidden;
    width: 240px;
    background-image: var(--header-footer);
    color: #fff;
    text-align: center;
    padding: 0;
    position: absolute;
    /* z-index: 1; */
}

.currLoc:hover .currLocHover {
    visibility: visible;
}

#searchRoute {
    height: 100%;
    float: right;
}

button#expandWeather {
    width: calc(100% - 0.125em);
    height: 100;
}

input#latIn,
input#lonIn {
    width: 96.5%;
}
