@use '../../reference' as reference;

.gradient {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    position: absolute;

    &Left {
        background: linear-gradient(
            90deg,
            rgba(reference.$darkerGrey, 0.6) 0%,
            rgba(reference.$darkerGrey, 0.4) 40%,
            rgba(reference.$darkerGrey, 0.2) 60%,
            rgba(reference.$darkerGrey, 0) 100%
        );
    }

    // &Right {
    //     background: linear-gradient(
    //         90deg,
    //         rgba(colors.$white, 0.4) 0%,
    //         rgba(colors.$white, 0.2) 40%,
    //         rgba(colors.$white, 0.1) 60%,
    //         rgba(colors.$white, 0) 100%
    //     );
    // }

    &Right {
        background: linear-gradient(
            90deg,
            rgba(reference.$white, 0) 0%,
            rgba(reference.$white, 0.1) 40%,
            rgba(reference.$white, 0.2) 60%,
            rgba(reference.$white, 0.4) 100%
        );
    }
}
