/* Variables */

:root {
  --bg: #F5F5F5;
  --fg: #FFFFFF;
  --drop: #E8E8E8;
  --font: #303030;
  --font2: #96B9EE;
  --font-header-footer: #808080;
  --overview-button: rgba(135, 206, 235, 0.5);
  --font-hover: #87CEEB;
  --hill-hide: #BEBEBE;
  --link-trans: 0.25s;
  --dark-trans: 0.5s;
}

/* Fonts */

@font-face {
  font-family: Audi-Extended;
  src: url(./fonts/audi/Extended-Bold.ttf);
}

@font-face {
  font-family: Audi-Regular;
  src: url(./fonts/audi/Normal.ttf);
}

@font-face {
  font-family: Audi-Bold;
  src: url(./fonts/audi/Bold.ttf);
}

@font-face {
  font-family: Audi-Italic;
  src: url(./fonts/audi/Italic.ttf);
}


/* Text */

h1,
h2,
h3,
h4 {
  font-family: Audi-Regular;
  color: #303030;
  margin: 0.5em 0 0.5em 0;
}

h1.weatherIcon {
  font-size: 50px;
  margin: 0.25em;
  padding: 0;
}

h1.weatherTitle {
  font-family: Audi-Extended;
  font-variant: small-caps;
  color: #A2A2A2;
  margin: 0;
  padding: 0;
}

h4.weatherTitleCoords {
  color: #A2A2A2;
  margin: 0;
  padding: 0;
}

p {
  font-family: Audi-Regular;
  font-size: 14px;
  color: #303030;
}

b {
  font-family: Audi-Bold;
}

label {
  font-family: Audi-Regular;
  padding: 0.25em;
}

code {
  font-family: 'Courier New', Courier, monospace
}

body {
  margin: 0;
  background-color: #F5F5F5;
}


























/* Body Elements */


/* .body {
  text-align: center;
  background-color: var(--bg);
  margin: 0 7.5% 0% 7.5%;
  padding: 2.5% 0 2.5% 0;
} */


/* Unique Body Elements */

.weatherTitleCont {
  color: var(--fg);
  background-image: var(--header-footer);
  width: calc(100% - 0.5em);
  margin: 2.75em 0 1.25em 0;
  padding: 1.25em 0 1.75em 0;
}

.weatherResults {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.125em 0 0.125em;
}

.weatherResults>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.weatherCol {
  font-family: Audi-Regular;
  text-align: left;
  background-color: var(--bg);
  /* border-left: 1px solid rgba(149, 165, 166, 0.75);
  border-right: 1px solid rgba(149, 165, 166, 0.75); */
  margin: 0.5em 0.125em 0.5em 0.125em;
  padding: 0.5em 0 0.5em 0;
}

@media (min-width: 768px) {
  .weatherCol {
    flex: 2 0;
  }
}

.weatherIntro,
.weatherTemp,
.weatherWind,
.weatherAtmosphere,
.weatherSuntime {
  text-align: center;
  background-color: var(--fg);
  margin: 0.75em 0 0.75em 0;
  padding: 0.5em;
}

.weatherComponent {
  text-align: center;
  margin: 0.125em;
  padding: 0.25em;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
}

.flexRow>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.flexCol {
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
}

.flexCol.left {
  margin-right: 0.25em;
}

.flexCol.right {
  margin-left: 0.5em;
}

@media (min-width: 768px) {
  .flexCol {
    flex: 2 0;
  }
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.currLoc {
  position: relative;
  display: inline-block;
}

.currLoc .currLocHover {
  visibility: hidden;
  width: 240px;
  background-image: var(--header-footer);
  color: #fff;
  text-align: center;
  padding: 0;
  position: absolute;
  /* z-index: 1; */
}

.currLoc:hover .currLocHover {
  visibility: visible;
}

#searchRoute {
  /* font-size: 9px; */
  height: 100%;
  float: right;
}

/* .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/




/* Inputs */


button#expandWeather {
  width: calc(100% - 0.125em);
  height: 100;
}

input#latIn,
input#lonIn {
  width: 96.5%;
}