/* Variables */

:root {
  --header-footer: #323232;
  --bg: #F5F5F5;
  --fg: #FFFFFF;
  --fg-fancy: linear-gradient(to bottom left, #A8A8A8 20%, #FFFFFF);
  --drop: #E8E8E8;
  --font: #483D8B;
  --font2: #96B9EE;
  --font-hover: #96B9EE;
  --font2-hover: #483D8B;
  --ghost: #FFFFFF;
  --drop-bar-hover: #E8E8E8;
  --finest: #9C7C38;
  --instant-gram: #000000;
  --foodrc: #800020;
  --sport: #002366;
  --allroad: #484848;
  --miami: #F890E7;
  --blog-fancy-hover: #96B9EE;
  --audi-line: #FFFFFF;
  --link-trans: 0.25s;
  --dark-trans: 0.5s;
}

:root.dark {
  --bg: #323232;
  --fg: #232323;
  --drop: #181818;
  --font: #FFFFFF;
  --font2: #96B9EE;
  --drop-bar-hover: #181818;
  --finest: #FFFFFF;
  --instant-gram: #FFFFFF;
  --foodrc: #FFFFFF;
  --sport: #FFFFFF;
  --allroad: #FFFFFF;
  --miami: #FFFFFF;
  --blog-fancy-hover: #483D8B;
  --audi-line: #232323;
}

:root.miami {
  --bg: #FF4F78;
  --fg: #FD5E53;
  --font: #FFFFFF;
  --font2: #96B9EE;
  --drop-bar-hover: #96B9EE;
}

/* Fonts */

@font-face {
  font-family: CMU-Serif;
  src: url(./fonts/CMUSerif.ttf);
}

@font-face {
  font-family: CMU-Bold;
  src: url(./fonts/CMUBold.ttf);
}

@font-face {
  font-family: CMU-Italic;
  src: url(./fonts/CMUItalic.ttf);
}

@font-face {
  font-family: CMU-Sans;
  src: url(./fonts/CMUSans.ttf);
}

@font-face {
  font-family: CMU-Sans-Bold;
  src: url(./fonts/CMUSansBold.ttf);
}

@font-face {
  font-family: CMU-Sans-Italic;
  src: url(./fonts/CMUSansItalic.ttf);
}

@font-face {
  font-family: Garamond-Serif;
  src: url(./fonts/garamond/EBGaramond-Regular.ttf);
}

@font-face {
  font-family: Garamond-Bold;
  src: url(./fonts/garamond/EBGaramond-SemiBold.ttf);
}

@font-face {
  font-family: Garamond-Italic;
  src: url(./fonts/garamond/EBGaramond-Italic.ttf);
}

@font-face {
  font-family: Proxima;
  src: url(./fonts/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: ProximaBk;
  src: url(./fonts/ProximaNova-Black.ttf);
}

@font-face {
  font-family: ProximaBd;
  src: url(./fonts/ProximaNova-Bold.ttf);
}

@font-face {
  font-family: Broadway;
  src: url(./fonts/Broadway-Regular.ttf);
}

@font-face {
  font-family: Audi-Extended;
  src: url(./fonts/audi/Extended-Bold.ttf);
}

@font-face {
  font-family: Audi-Wide;
  src: url(./fonts/audi/Wide-Bold.ttf);
}

@font-face {
  font-family: Audi-Normal;
  src: url(./fonts/audi/Bold.ttf);
}

@font-face {
  font-family: Instagram;
  src: url(./fonts/Grandista.ttf);
}

@font-face {
  font-family: Giant;
  src: url(./fonts/NFS.ttf);
}

@font-face {
  font-family: Signature;
  src: url(./fonts/Signature.ttf);
}

@font-face {
  font-family: Rolex;
  src: url(./fonts/Rolex.ttf);
}


/* Header And Footer */

header {
  font-family: Proxima;
  color: var(--font);
  background-color: var(--header-footer);
  height: 125px;
  margin: 0;
  padding: 0 7.5% 0 7.5%;
}