.image-slider {
    position: relative;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.image-slider-container {
    position: relative;
    /* border: 1px solid black; */
}

.image-slider-image {
    width: 100%;
    border-radius: 0.25em;
    box-shadow: 0px 0px 10px #A8A8A8;
    /* border: 1px solid black; */
}

.image-slider-caption {
    position: absolute;
    text-shadow: 0px 0px 5px #282828;
    bottom: 22px;
    left: 20px;
    max-width: 75%;
    opacity: 0.75;
    /* border: 1px solid black; */
}

.image-slider-index {
    position: absolute;
    text-shadow: 0px 0px 5px #282828;
    bottom: 22px;
    right: 20px;
    max-width: 25%;
    opacity: 0.75;
    /* border: 1px solid black; */
}

.left-arrow,
.right-arrow {
    font-size: 32px;
    color: #28282890;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: color 0.5s;
}

.left-arrow {
    left: 0px;
}

.right-arrow {
    right: 0px;
}

.left-arrow:hover,
.right-arrow:hover {
    color: #A8A8A8;
    transition: color 0.5s;
}

.left-arrow:active,
.right-arrow:active {
    transform: scale(0.85);
    transition: transform 0.25s;
}

.slide {
    opacity: 0.5;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.05);
}

/* Mobile */

@media (max-width: 768px) {

    .image-slider {
        height: 320px;
        overflow-x: hidden;
    }

    .image-slider-image {
        border-radius: 0em;
        box-shadow: none;
    }

    .image-slider-caption {
        bottom: 12px;
        left: 10px;
    }

    .image-slider-index {
        bottom: 12px;
        right: 10px;
    }

    .left-arrow,
    .right-arrow {
        top: 45%;
        color: #28282850;
    }

    .slide {
        opacity: 0.5;
        transition-duration: none;
    }

    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: none;
    }

}