button {
    border: 0 none !important;
    margin: 0;
    padding: 15px;

    &::-moz-focus-inner {
        border: 0 none !important;
        padding: 0 !important;
    }

    &:hover {
        cursor: pointer;
    }
}

.button {
    &Search {
        border-radius: var(--corners-small);
        background-color: var(--darker-grey);
        transition: transform var(--transition-short);
        width: 15%;

        @media (max-width: 768px) {
            width: 20%;
        }

        &:active {
            transform: scale(0.995);
            transition: transform var(--transition-short);
        }
    }

    &RegularClear {
        background-color: var(--transparent);
        border-radius: var(--corners-small);
        transition: background-color var(--transition-long),
            transform var(--transition-short);

        &:hover {
            background-color: var(--lighter-grey);
            transition: background-color var(--transition-long);
        }

        &:active {
            transform: scale(0.995);
            transition: transform var(--transition-short);
        }
    }

    &RegularSolid {
        background-color: var(--lighter-grey);
        border-radius: var(--corners-small);
        transition: background-color var(--transition-long),
            transform var(--transition-short);

        &:hover {
            background-color: var(--lighter-grey);
            transition: background-color var(--transition-long);
        }

        &:active {
            transform: scale(0.995);
            transition: transform var(--transition-short);
        }
    }

    &Inverse {
        background-color: var(--transparent);
        border-radius: var(--corners-small);
        transition: background-color var(--transition-long),
            transform var(--transition-short);

        &:hover {
            background-color: var(--darker-grey-70);
            transition: background-color var(--transition-long);
        }

        &:active {
            transform: scale(0.995);
            transition: transform var(--transition-short);
        }
    }
}

.fill {
    width: 100%;
}

.transition {
    padding-left: 0;
    padding-right: 0;
    transition: background-color var(--transition-long),
        transform var(--transition-short), padding var(--transition-long);

    &:hover {
        padding-left: 15px;
        padding-right: 15px;
        transition: background-color var(--transition-long),
            transform var(--transition-short), padding var(--transition-long);
    }
}
