@use '../../reference' as reference;

.background {
    @media (min-width: 768px) {
        background-image: url('https://lewisbritton.com/images/pages/background.jpg');
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100%;
        overflow: hidden;
        padding: 0px 0px 0px 0px;
    }

    @media (max-width: 768px) {
        background-image: url('https://lewisbritton.com/images/pages/background-mobile.jpg');
        background-size: 100% auto;
        padding: 50px 0px 0px 0px;
    }
}

.text {
    font-size: 64px;
    color: reference.$lighter-grey;
    background-image: reference.$gradient-dark-60-bottom-top;
    padding: 225px 75px 25px 75px;

    @media (max-width: 768px) {
        font-size: 32px;
        padding: 0px 20px 0px 20px;
    }

    &Std {
        font-family: Sans-Light;
    }

    &Logo {
        font-family: Audi-Extended;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    &Ig {
        font-family: Instagram;
        // background: -webkit-linear-gradient(
        //     0deg,
        //     #a13cc2 -50%,
        //     #9f1b7f 25%,
        //     #ff971d 100%
        // );
        // background-clip: text;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }

    &Sport {
        font-family: NFS;
    }

    &Audi {
        font-family: Audi-Extended;
    }

    &Miami {
        font-family: Broadway;
    }
}
