.instant-gram-search-bar {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0.75em;
    box-shadow: 0px 0px 10px #D8D8D8;
    margin: 20px 150px 20px 150px;
    padding: 50px 30px 50px 30px;
}

input[type='text'].instant-gram-search,
select.instant-gram-search,
button.instant-gram-search,
button.instant-gram-expand {
    font-family: Audi-Regular;
    font-size: 20px;
    border: none;
    border-radius: 0.125em;
    padding: 5px;
}

input[type='text'].instant-gram-search {
    color: #282828;
    background: -webkit-linear-gradient(0deg, #FFFFFF -50%, #A2A2A2 100%);
    width: 68%;
    margin: 0.25em;
}

select.instant-gram-search {
    color: #282828;
    background: -webkit-linear-gradient(0deg, #FFFFFF -50%, #A2A2A2 100%);
    width: 97.5%;
    margin: 0.25em;
}

button.instant-gram-search {
    color: #FFFFFF;
    background: -webkit-linear-gradient(0deg, #A2A2A2 -0%, #282828 100%);
    width: 28%;
    margin: 0.25em;
}

button.instant-gram-expand {
    color: #282828;
    background: #FFFFFF00;
    width: 100%;
}