input[type='text'].instant-gram-search,
select.instant-gram-search,
button.instant-gram-search,
button.instant-gram-expand {
    font-family: Audi-Regular;
    font-size: 20px;
    border: none;
    border-radius: 0.125em;
    padding: 5px;
}

input[type='text'].instant-gram-search {
    color: #282828;
    background-color: #F5F5F5;
    width: 78.5%;
    margin: 0.25em;
}

select.instant-gram-search {
    color: #282828;
    background-color: #F5F5F5;
    width: 98.5%;
    margin: 0.25em;
}

button.instant-gram-search {
    color: #FFFFFF;
    background-color: #282828;
    width: 18.5%;
    margin: 0.25em;
}

button.instant-gram-expand {
    color: #282828;
    background: #FFFFFF00;
    width: 100%;
}