input[type='text'].instant-gram-search {
    font-size: 20px;
}

input[type='text'].instant-gram-search,
button.instant-gram-search,
button.instant-gram-expand,
button.instant-gram-expand-dense {
    font-family: Audi-Regular;
    border: none;
    border-radius: 0.125em;
    padding: 5px;
}

input[type='text'].instant-gram-search {
    background-color: #F5F5F5;
    width: 78.5%;
    margin: 0.25em;
}

button.instant-gram-search {
    background-color: #282828;
    width: 18.5%;
    margin: 0.25em;
}

button.instant-gram-expand {
    background: #FFFFFF00;
    width: 100%;
}

button.instant-gram-expand-dense {
    background: #FFFFFF00;
    width: 25%;
}