/* Initialize Fonts */

@font-face {
    font-family: Audi-Extended;
    src: url(../../fonts/audi/Extended-Bold.ttf);
}

@font-face {
    font-family: Audi-Regular;
    src: url(../../fonts/audi/Normal.ttf);
}

@font-face {
    font-family: Audi-Bold;
    src: url(../../fonts/audi/Bold.ttf);
}

@font-face {
    font-family: Audi-Italic;
    src: url(../../fonts/audi/Italic.ttf);
}

/* Variables */

:root {
    --font-hover: #87CEEB;
    --header-footer: linear-gradient(90deg, #303030 0%, #808080 200%);
    --header-footer-inv: linear-gradient(90deg, #ffffff -200%, #a2a2a2 100%);
}

/* Header */

.header {
    /* background-image: var(--header-footer); */
    background-color: #282828;
    height: 75px;
    margin: 0;
    padding: 0 7.5% 0 7.5%;
}

.headerLogo {
    float: left;
    margin: 16px 0 0 0;
}

.header-navigation {
    font-family: Audi-Regular;
    color: #A2A2A2;
    float: right;
    margin: 11px 0 0 0;
}

.header-navigation li,
.sub-header-navigation li,
.subHeaderConquestNavigation li {
    display: inline-block;
    margin: 0 7.5px 0 7.5px;
}

.header-navigation a,
.sub-header-navigation a,
.subHeaderConquestNavigation a {
    text-decoration: none;
    color: #A2A2A2;
    transition: color 0.5s;
}

.header-navigation a:hover,
.sub-header-navigation a:hover,
.subHeaderConquestNavigation a:hover {
    color: var(--font-hover);
    font-weight: bold;
    transition: color 0.5s font-weight 0.5s;
    cursor: pointer;
}

.sub-header,
.subHeaderConquest {
    background-color: #303030;
    height: 55px;
    margin: 0;
    padding: 0 7.5% 0 7.5%;
}

.sub-header-navigation,
.subHeaderConquestNavigation {
    font-family: Audi-Regular;
    color: #A2A2A2;
    float: right;
    height: 50px;
    margin: 1px 0 0 0;
    padding: 0;
}

/* Footer */

.footer {
    font-family: Audi-Regular;
    font-size: 16px;
    text-align: center;
    /* background-image: var(--header-footer); */
    background-color: #282828;
    margin: 0;
    padding: 1.25em 7.5% 1.25em 7.5%;
}