@font-face {
    font-family: Instagram;
    src: url(../../fonts/Grandista.ttf);
}

@font-face {
    font-family: NFS;
    src: url(../../fonts/NFS.ttf);
}

.background {
    background-image: url('../../media/images/bg.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 175px 150px 25px 150px;
}

.background-text {
    font-size: 48px;
    color: #f5f5f5;
    margin: 0;
    padding: 0px 25px 0px 0px;
}

.background-text-instant-gram {
    font-family: Instagram;
    /* background: -webkit-linear-gradient(
        0deg,
        #a13cc2 -50%,
        #9f1b7f 25%,
        #ff971d 100%
    );
    background: -webkit-linear-gradient(0deg, #282828 0%, #a2a2a2 200%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.background-text-sport {
    font-family: NFS;
}

/* Mobile */

@media (max-width: 768px) {
    .background {
        background-image: none;
        text-align: center;
        padding: 20px;
    }

    .background-text {
        font-size: 42px;
    }
}
